
<html lang="en">
<head>
	<title>Admin Login</title>
	<meta charset="utf-8">
  
</head>
<body>
	    <div class="bg-danger text-white">
		<div class="row">
			<div class="col-md-12">
                <div class="float-left" >
                    <div class="mt-3"><h4><font color="white">Admin Login</font></h4></div>
                </div>
            </div>
        </div>
    </div>
	<div class="container1 mt-top-neg-2">
		<h1 class="form-heading log"><font color="white">Admin Login Form</font></h1>
		<form class="form" action="{{ url_for('admin_login') }}" method="POST">

		<div class="login-form mt-top-neg-3">
			<div class="main-div">
				<div class="panel">
					<p><font color="orange">Please Enter your Username and Password</font></p>
				</div>
					 <div class="form-group">
					 	<label for="uname">User Name</label>
						 <input type="text" class="form-control" id="uname" name="uname" placeholder="Username">
					 </div>

					<div class="form-group">
						<label for="pwd">Password</label>
						<input type="password" class="form-control form-control" id="pwd" name="pwd" placeholder="Password">
					</div>
					<center><button type="submit" class="btn btn-primary col-md-2">Login</button></center>
				</div>
			</div>
		</form>
	</div>
</body>
			
</html>
</body>