<!DOCTYPE html>
<html lang="en">
<head>
 <title>Director Item Catalog</title>
 <meta charset="utf-8">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  
 </head>
<body>
	<form action="#" method = 'post'>
		<div class="row">
      		<div class="col-md-12">
        		<img src="{{url_for('static',filename='img1.jpg')}}" style="margin:0px; width:1520px; height: 235px;">
      		</div>
    	</div>

    	<div style="background-color: purple;">
        	<div class="row">
            	<div class="col-md-12">
                	<ul class="mt-2">
                    	<h3><font color="blue">Delete Director Name</font></h3>
                	</ul>
            	</div>
        	</div>
    	</div>

    	<div style="padding-top: 60px;">
			<div class="container border mt-2 p-4" style="border-radius: 15px; box-shadow: 10px 10px #888888;background-color: #E0FFFF; padding-top:35px;">	
        		<div class="tab-content">
          			<div class="tab-pane container active">
          				<div class="row my-padding-12  center">
              				<h1>Are you sure you want to delete ---> <font color="#800080">{{director.name}}?</font></h1>
                     	</div>
    				</div>
    			</div>
    
		<div class="row offset-sm-4">
			<div class="col-sm-2 offset-col-sm-3 mt-2" style="
	    	padding-left: 400px; padding-right: 250px; padding-bottom: 25px;" >
	    		<button type="submit" class="btn btn-warning">Delete</button>
	    	</div>

	    	<div class="col-sm-4 offset-col-sm-3 mt-2">
	    		<a href="{{url_for('showDirector')}}" class="btn btn-danger">Cancel</a>
	    	</div>
		</div>
	</div>
</form>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity  ="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/  GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>

</html>

