<!DOCTYPE html>
<html lang="en">
<head>
 <title>Director Item Catalog</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  
</head>

<style>
input[type=text]{
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border:none;
  border-radius: 15px;
  background:#F5DEB3;
}

input[type=text]:focus{
  background-color:#ddd;
  outline:none;

}
hr{
  border:1px solid #f1f1f1;
  margin-bottom: 25px;
}
</style>

<body>
  <form action="#" method="POST">
    <div class="row">
      <div class="col-md-12">
        <img src="{{url_for('static',filename='img1.jpg')}}" style="margin:0px; width:1520px; height: 235px;">
      </div>
    </div>

  <div class="col-md-12">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="active mt-2" style="color: blue; font-style:normal; font-size: 20px; margin-top: 8px;">New Director</li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          {% if 'username' not in session %}
            <li><button type="submit" class="btn btn-default mt-2" style="border-radius:4px; padding-right: 20px; padding-top: 5px;">   <a href="{{url_for('showLogin')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></button></li>
          {% else %}
            <li><button type="submit" class="btn btn-default mt-2">   <a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span>logout</a></li></button>
          {% endif %}
        </ul>
      </div>
    </nav>
  </div>

  <div style="padding-top: 60px;">
    <div class="container border mt-2 p-4" style="border-radius: 15px; box-shadow: 10px 10px #888888;background-color: #E0FFFF; padding-top:35px; width: 83%">  
      <div class="tab-content">
        <div class="tab-pane container active">
          <div class="row my-padding-12  center">
            <h3>Enter director name.</h3>
              <hr class="container">
                <center><label for="text"><b>Director Name</b></label>
                  <input type="text" name="name" required="required">
                </center>
              <hr>
              
              <div class="row offset-sm-4">
                <div class="col-sm-2 offset-col-sm-3 mt-2" style="
                 padding-left: 400px; padding-right: 250px; padding-bottom: 25px;" >
                  <button type="submit" class="btn btn-success">Create</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</form>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>

