 <!DOCTYPE html>
<html lang="en">
<head>
 <title>Director Item Catalog</title>
 </head>
<style>
	.bgclr{
		background-color: #CD853F;
	}
</style>

<body>
	<div class="header">
		<div class="row">
			<div class="col-md-12">
				<img src="{{url_for('static',filename='img1.jpg')}}" class="float-left img-fluid" style="height: 250px; width: 1500px;"/>
			</div>
		</div>
	</div>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
			  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item">
					<a href=""class="nav-link" style="font-size: 25px; color:white;"><span class="fa fa-globe"></span>Welcome to {{director.name}} !!!</a>
				</li>
			  </ul>
			  {% if 'username' in session %}
			 <ul class="nav navbar-nav  my-2 my-lg-0">
				 <li class="nav-item">
					<a href="{{ url_for('newMovieList',movie_id=director.id) }}" class="nav-link" style="font-size: 18px; color:white;"><span class="fa fa-plus"></span> Add Player</a>
				 </li>
				 <li class="nav-item">
					<a href="{{ url_for('showDirector') }}" class="nav-link" style="font-size: 18px; color:white;"><span class="fa fa-arrow-left"></span> Back</a>
				 </li>

				 <li class="nav-item">
					<a href="{{ url_for('logout') }}" class="nav-link" style="font-size: 18px; color:white;"><span class="fa fa-sign-out"></span> Logout</a>
				 </li>
			</ul>
			{% endif %}
		   </div>
		</nav>
	</div>

	<div class="flash mt-2">
	{% with messages=get_flashed_messages() %}
		{% if messages %}

		<ul>
			{% for message in messages %}
			<li><strong>{{message}}</strong></li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
	</div>

	<div class="container mt-4">
		{% for i in movie %}
			<div class="card ">
				<div class="card-header text-white" id="headingOne{{i.id}}" style="background-color: #808080;">
					<div class="row">
						<div class="col-9">
							<h2 class="mb-0">
								<button class="btn btn-link text-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseOne{{i.id}}" aria-expanded="true" aria-controls="collapseOne">
					          <font color="#FFFFFF"><b>{{i.name}}</b></font>
					        	</button>
							</h2>
						</div>

						<div class="col-3 ">
							<div class="editdeletepane float-right">
								{% if 'username' in session %}
								<a href="{{url_for('editMovieList',director_id=country.id,p_id=i.id) }}" class="btn btn-info btn-sm"><i class="fa fa-pencil-square fa-lg"></i></a>

								<a href="{{url_for('deleteMovieList',player_id=director.id,list_id=i.id) }}" class="btn btn-danger btn-sm"><i class="fa fa-trash fa-lg"></i></a>
								{% endif %}
							</div>
						</div>

					</div>
				</div>
				<div id="collapseOne{{i.id}}" class="collapse" aria-labelledby="headingOne{{i.id}}" data-parent="#accordionExample">
					<div class="card-body">
						<div class="panel-body"><font color="red"><i><b>description Movie:</b></i></font>{{i.description}}</div>
						<div class="panel-body"><font color="red"><i><b>actor :</b></i></font>{{i.actor}}</div>
						<div class="panel-body"><font color="red"><i><b>actress:</b></i></font>{{i.actress}}</div>
						<div class="panel-body"><font color="red"><i><b>release :</b></i></font>{{i.release}}</div>
					</div>

				</div>
			</div>
		{% endfor %}
	</div>
</div>
</body>
</html>